* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
}

.column {
  padding: 0px;
}

.app.columns {
  height: 100vh;
  margin: 0px; 
  padding: 0px;
}

.login.columns {
  margin: 0px;
  padding: 0px;
}

.login.columns .column {
  padding: 20px;
  margin-top: 120px;
}

.weather.columns {
  margin-top: 120px;
}

.weather.columns > .column {
  padding: 20px;
}

.weather-info-top {
  /* max-width: 500px; */
  background-color: purple;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.weather-info-icon {
  text-align: end;
  min-width: 85px;
  display: inline-block;
  font-size: 60px;
  position: relative;
  bottom: -5px;
}


.weather-info-temperature {
  font-size: 80px;
  font-weight: 100;
  display: inline-block;
  padding: 0px 15px;
  position: relative;
}

.weather-info-temperature::after {
  content: "o";
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: -50px;
  right: -3px;
}

.weather-info-moreinfo {
  display: inline-block;
  border-left: 1px dashed #aaa;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
  bottom: -5px;
}

.weather-info-moreinfo .weather-info-search-location {
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.weather-info-moreinfo .weather-info-search-time {
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-top: -5px
}